{% if loaded %}
	<div class="normal medium title">
		{% if config.useColorLegend %}
			<span class="fa-solid fa-plug dimmed" style="color: {{ signals[0].dvalue | level2color }};"></span>
		{% else %}
			<span class="fa-solid fa-plug dimmed"></span>
		{% endif %}
		<span>&nbsp;</span>
		<span>{{ signals[0].message }}</span>
	</div>
	
	<div class="signals">
		{% for signalData in signals %}
			<div>
				{% if config.showText or config.showGraph %}
					<div class="normal small day">{{ signalData.displayDay }}</div>
				{% endif %}
				{% if config.showText %}
					<div class="light small message">{{ signalData.message }}</div>
				{% endif %}
				{% if config.showGraph %}
					<div class="timeline">
						{% for signalValue in signalData.values %}
							<div class="signal" style="background-color: {{ signalValue.hvalue | level2color }};">
							{% if signalData.values.indexOf(signalValue) % 2 == 0 %}
								<div class="light xsmall hour">{{ signalValue.pas }}h</div>
							{% endif %}
							</div>
						{% endfor %}
					</div>
				{% endif %}
			</div>
		{% endfor %}
	</div>
{% else %}
	<div class="dimmed light small">
		{{ "LOADING" | translate }}
	</div>
{% endif %}
