.MMM-Ecowatt .title,
.MMM-Ecowatt .signals {
  margin-bottom: 10px;
}

.MMM-Ecowatt .timeline {
	display: flex;
	margin-top: 10px;
	margin-bottom: 1.5em;
}

.MMM-Ecowatt .timeline .signal {
	height: 1em;
	position: relative;
	flex: 1 1 0%;
	border-right: 1px solid #000000;
}

.MMM-Ecowatt .timeline .signal:first-child {
	border-left: 1px solid #000000;
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
}

.MMM-Ecowatt .timeline .signal:last-child {
  border-top-right-radius: 2em;
  border-bottom-right-radius: 2em;
}

.MMM-Ecowatt .timeline .signal .hour {
	position: absolute;
	top: 1.5em;
	left: -0.6em;
}
