.MMM-Ecowatt .title,
.MMM-Ecowatt .signals {
  padding-bottom: 10px;
}

.MMM-Ecowatt .signalTable {
    border-collapse: collapse !important;
}
.MMM-Ecowatt .signalTable tr {
    height: 15px;
}
.MMM-Ecowatt .signalTable td {
    width: 20px;
}
.MMM-Ecowatt .signalHours td {
    font-size: 14px;
    text-align: left !important;
}
.MMM-Ecowatt .signalHours td span {
    margin-left: -14px;
}
